/* Container geral */
.App {
  text-align: center;
}

/* Menu de navegação */
.menu {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 10px;
  background-color: #282c34;
  justify-content: center;
  margin: 0;
}

.menu li {
  display: inline;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu li a:hover {
  text-decoration: underline;
}


.title {
  margin: 5px 0;
  color: #333;
}

/* Caso queira centralizar e estilizar o header com estilo escuro */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Link do App */
.App-link {
  color: #61dafb;
  align-items: center;
}

/* Animação */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
