body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right,rgb(40, 85, 143),rgb(83, 140, 163),rgb(41, 174, 184) ,rgb(83, 140, 163), rgb(40, 85, 143));  color: #121211;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #282c34;
  color: white !important; /* força a cor branca */
  text-align: center;
  padding: 20px 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.header h1,
.header p {
  margin: 0;
  padding: 0;
  color: inherit; /* herda o branco */
  font-weight: normal;
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
}


/* linear-gradient(#223a16); */